:root {
    --text: #000;
    --bg: #fff;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
    }
}

.main-page-body {
    min-height: 100dvh;
}

footer {
    border-top: 1px solid grey;
    padding: 7px;
}